.card {
    background-color: #212529;
    color: white;
}

.modal-content {
    background-color: #212529;
    color: white;
}

.modal-header {
    border-bottom: 1px solid #474a4c;
}

.modal-footer {
    border-top: 1px solid #474a4c;
}

.clean-block {
    background-color: #17191b !important;
}

.container-fluid {
    background-color: #17191b !important;
}

.list-group-item {
    background-color: #212529;
    border: 1px solid #474a4c;
}

hr {
    background-color: gray;
}

.form-control {
    color: #fff;
    background-color: #2e3133;
    border: 1px solid #2e3133;
}

.form-control:focus {
    color: #fff;
    background-color: #2e3133;
    border-color: #2e3133;
    outline: 0;
    box-shadow: none;
}

.form-check-input {
    background-color: #2e3133;
}

.card-header {
    border-bottom: 1px solid #474a4c;
}

.card-footer {
    border-top: 1px solid #474a4c;
}

p {
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
   background: #17191b; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #6c757d !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: lightgray !important;
    text-decoration: none;
    background-color: transparent !important;
}
.dropdown-item.active,
.dropdown-item:active {
    color: lightgray !important;
    text-decoration: none; 
    background-color: transparent !important;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}