.panel {
    margin-top:67px;
 }
 .form-inline {
     display: inline-block;
 }
 .navbar-header.col {
     padding: 0 !important;
 }
 .navbar {		
     background: #fff;
     padding-left: 16px;
     padding-right: 16px;
     border-bottom: 1px solid #d6d6d6;
     box-shadow: 0 0 4px rgba(0,0,0,.1);
    color: #fff;
 }
 .nav-link img {
     border-radius: 50%;
     width: 36px;
     height: 36px;
     margin: -8px 0;
     float: left;
     margin-right: 10px;
 }
 .navbar .navbar-brand {
     color: #fff;
     padding-left: 0;
     padding-right: 50px;
     font-family: 'Merienda One', sans-serif;
 }
 .navbar .navbar-brand i {
     font-size: 20px;
     margin-right: 5px;
 }
 .search-box {
     position: relative;
 }	
 .search-box input {
     box-shadow: none;
     padding-right: 35px;
     border-radius: 3px !important;
 }
 .search-box .input-group-addon {
     min-width: 35px;
     border: none;
     background: transparent;
     position: absolute;
     right: 0;
     z-index: 9;
     padding: 7px;
     height: 100%;
 }
 .search-box i {
     color: #a0a5b1;
     font-size: 19px;
 }
 .navbar .nav-item i {
     font-size: 18px;
 }
 .navbar .dropdown-item i {
     font-size: 16px;
     min-width: 22px;
 }
 .navbar .nav-item.open > a {
     background: none !important;
 }
 .navbar .dropdown-menu {
     border-radius: 15px;
    background-color: #212529;
    box-shadow: 0 2px 8px #000000;
 }
 .navbar .dropdown-menu a {
     color: #777;
     padding: 8px 20px;
     line-height: normal;
 }
 .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
     color: #333;
 }	
 .navbar .dropdown-item .material-icons {
     font-size: 21px;
     line-height: 16px;
     vertical-align: middle;
     margin-top: -2px;
    color: #fff;
 }
 .navbar .badge {
     color: #fff !important;
     background: #f44336;
     font-size: 11px;
     border-radius: 20px;
     position: absolute;
     min-width: 10px;
     padding: 4px 6px 0;
     min-height: 18px;
     top: 5px;
 }
 .navbar a.notifications, .navbar a.messages {
     position: relative;
     margin-right: 10px;
 }
 .navbar a.messages {
     margin-right: 20px;
 }
 .navbar a.notifications .badge {
     margin-left: -8px;
 }
 .navbar a.messages .badge {
     margin-left: -4px;
 }	
 .navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
     background: transparent !important;
 }
 @media (min-width: 1020px){
     .form-inline .input-group {
         width: 300px;
         margin-left: 30px;
     }
 }
 @media (max-width: 1019px){
     .form-inline {
         display: none;
       margin-left: 0px;
     }
     .input-group {
         width: 100%;
     }
 }
 
 .nav-link {
    text-decoration:none !important;
 }
 
 .nav-item {
    text-decoration:none !important;
 }
 
 .navbar-brand {
    display: block;
 }
 
 .user-avatar{
             width: 60px;
             height: 60px;
             -webkit-border-radius: 60px;
             -webkit-background-clip: padding-box;
             -moz-border-radius: 60px;
             -moz-background-clip: padding;
             border-radius: 60px;
             background-clip: padding-box;
 
             background-size: cover;
             background-position: center center;
          }
 
 
          @media (min-width: 992px) {
   .animate {
     animation-duration: 0.3s;
     -webkit-animation-duration: 0.3s;
     animation-fill-mode: both;
     -webkit-animation-fill-mode: both;
   }
 }
 
 @keyframes slideIn {
   0% {
     transform: translateY(1rem);
     opacity: 0;
   }
   100% {
     transform:translateY(0rem);
     opacity: 1;
   }
   0% {
     transform: translateY(1rem);
     opacity: 0;
   }
 }
 
 @-webkit-keyframes slideIn {
   0% {
     -webkit-transform: transform;
     -webkit-opacity: 0;
   }
   100% {
     -webkit-transform: translateY(0);
     -webkit-opacity: 1;
   }
   0% {
     -webkit-transform: translateY(1rem);
     -webkit-opacity: 0;
   }
 }
 
 .slideIn {
   -webkit-animation-name: slideIn;
   animation-name: slideIn;
 }

@media (min-height: 600px){
    .passive-fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .panel {

    }
}